/*Universal Properties*/
html{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

/*Header*/
.container {
  max-width: 960px;
  margin: 0 auto;
}
.box{
  background-image: url(file:///D:/Project%20Folder/Tourtoiseshell/resources/images/foto.jpg);
  height: 30rem;
  background-size:cover;
  background-position: center;
}

.box header {
  display:flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  color: white;
  min-height: 3rem;
  background-color: cadetblue;
  position: relative;
  top:1rem;
}

header .logo{
  display: flex;
  align-items: center;

  padding-left: 2rem;
  font-size: 1rem;
}
header .logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.options{
  display: flex;

}
.options span {
  padding: 1rem 2rem;

  font-size: 1rem;
}
.mobile{
  display: none;
}
/*Header 1024px*/
@media only screen and (max-width:1024px){
  .container{
    width: 100%;
  }
  .box{
    height: 22rem;
    background-size:cover;
  }
  .box header{
    position:static;
  }
}
/*Header 700px*/
@media only screen and (max-width: 700px) {
.container{
  width: 100%;
}
.box .logo span{
  display: none;
}
.options{
  display: none;
}
.mobile{
  display: block;
  padding-right: 2rem;
}
.box {
  height: 17rem;
  background-position: 20%;
  background-size: cover;
}
}

/*Banner*/
.Banner{
  display: flex;

  line-height: 1.2;
  font-size: 2rem;
  font-family: Helvetica;
  justify-content: flex-end;
  position: relative;
  top: 10rem;
  font-weight: bold;

}
.Banner p{
  display: flex;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top:0;

  position: relative;
  left:2rem;
}
/*Banner 1024px*/
@media only screen and (max-width:1024px){
.Banner{
  position: relative;
  top: 5rem;
  font-size: 1.33rem;
}

.Banner p{
  padding: 0.75rem 4rem;
  position:static;
  margin-right: 2rem;
  }
}
/*Banner 700px*/
@media only screen and (max-width: 700px) {
.container{
  width: 100%;
}
.Banner {
  position: relative;
  top: 9rem;
}
.Banner p{
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  justify-content: center;
  padding: 1rem 0;
}
}
/*Content*/
.content {
  display: flex;
  justify-content: center;

}
.service{
  display: flex;
  flex-direction: column;
  margin: 3rem;
  align-items:center;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;

  text-align:center;
}
.exam img{
  width: 3.5rem;
}
.fit img, .truck img{
  width: 5rem;
}
/*Content 700px*/
@media only screen and (max-width: 700px){
.content{
  display: block;
  margin: 3.77rem 0;
}
.service{
  margin: 0 auto;
  font-size: 0.77rem;
}
.service.exam,.service.fit{
  margin-bottom: 1.54rem;
}
}

/*Content 2*/
.information{
  display: flex;
  justify-content: center;

  padding-bottom: 5rem;
}
.info{
  width: 35%;

}
.phi{
  margin-right: 2.5%;
}
.app{
  margin-left: 2.5%;
}

.title{
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}
/*Content 2 700px*/
@media only screen and (max-width: 700px){

.information{
    display: block;
  }
.info{
  width: 100%;
  margin: 0 auto;
}
.title{
  width:100%;
  padding: 0.5rem 0;
  text-align: center;
}
.info p{
  font-size: 0.77rem;
}
.phi{
  padding-bottom: 4rem;
}

}
/*Footer*/
.box2{
  background-color: powderblue;
}
footer .logo {
display: flex;
align-items: center;
padding: 4rem 4rem;
}
footer .logo img{
  padding-right: 1rem;
}

footer .logo img{
  height: 1.5rem;
}
/*media*/
@media only screen and (max-width: 700px){
.container{
  width: 100%;
}

footer span{
  display:none;
}
footer .logo{
  justify-content: center;
}
}
}
